<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="topnav">
              <a id="home" href="/">Home</a></li>
              <a id="about" href="/about">About</a></li>
              <a id="Contact" href="/Contact">Contact</a></li>
        </div>
      </header>
     
      <main class="main-container">
        {% block content %}{% endblock %}
      </main>
      <footer>
        <p><a href="https://www.Youtube.com/"><img style="margin-top: -15px; width: 5vh; height:5vh;" src="{{ url_for('static', filename='/images/githubIcon.png') }}" /></a></p>
      </footer>
    </div>
  </body>
</html>
