{% extends "base.html" %} {% block title %} Classic {% endblock %} {% block
content %}
<div class="image-container">
  {% if posts %}
  <img class="memesImg" src="{{ posts[current_index].url }}" alt="Meme Image" />
  <div class="upvoteContiner">
    <p class="upvoteText">has</p>
    <div class="ups">{{posts[current_index].ups}}</div>
    <p class="upvoteText">upvote</p>
  </div>

  <img
    class="memesImg"
    src="{{ posts[current_index+1].url }}"
    alt="Meme Image"
  />
  <div class="versus-block versus-block--new">
    <div class="versus-block__text">vs</div>
    <div class="versus-block__overlay"></div>
    <div class="versus-block__icon"></div>
  </div>
  <div class="term-actions">
    <form action="{{url_for('views.classic')}}" method="post">
      <button
        class="game-button term-actions__button term-actions__button--higher"
        name="choice"
        value="higher"
      >
        Higher</button
      ><button
        class="game-button term-actions__button term-actions__button--lower"
        name="choice"
        value="lower"
      >
        Lower
      </button>
    </form>
  </div>
  {% else %}
  <p>No posts available</p>
  {% endif %}
</div>
{% endblock %}
